# fly.toml app configuration file generated for n8n-laurent on 2025-11-19T18:52:38+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'n8n-laurent'
primary_region = 'cdg'

[build]

[env]
  N8N_PORT = "5678"
  N8N_HOST = "0.0.0.0"
  N8N_PROTOCOL = "https"
  WEBHOOK_URL = "https://n8n-laurent.fly.dev"
  GENERIC_TIMEZONE = "Europe/Paris"
  N8N_LOG_LEVEL = "info"
  N8N_USER_FOLDER = "/data"

[http_service]
  internal_port = 5678
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = "n8n_data"
  destination = "/data"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
